<table>
    <tbody>
        {% for tube in tubes %}
            <tr>
                <td>
                    {{ tube }}
                </td>
                <td>
                    <a href="{{ path('drymekPheanstalkBundle_tubejobs', {'name' : tube}) }}">jobs</a>
                    <a href="{{ path('drymekPheanstalkBundle_tubeput', {'name' : tube}) }}">put</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <thead>
        <tr>
            <th>Tube name</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
<a href="{{ path('drymekPheanstalkBundle_tubecreate') }}">create tube</a>

{% render 'drymekPheanstalkBundle:Tube:serverStats' %}
