<h2>Server stats</h2>

<table>
    <tbody>
        {% for key, value in stats %}
            <tr class="{{ loop.index is odd ? 'odd' : 'even'}}">
                <td>
                    {{ key }}
                </td>
                <td>
                    {{ value }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <thead>
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
    </thead>
</table>
